.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.form-field-half {
  flex: 1;
}

mat-dialog-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
